body {
    background-color: #d8801c;
    background-image: linear-gradient(#d8801c, silver);
    background-attachment: fixed;
    background-size: cover;
    margin: 50px;
    font-family: Verdana;
}

h1 {
    font-size: 50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    font-family: Georgia;
    color: #305663;
}

h2 {
    font-size: 36px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    font-family: Georgia;
    color: #5c6140;
}

h3 {
    font-size: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    font-family: Georgia;
    color: #774745;
}

p {
    color: black;
    font-size: 20px;
}

div {
    display: flex;
    justify-content: center; 
}

li {
    font-size: 18px;
    color: black;
}

/* navigation bar */
nav {
    text-align: center;
    margin: 0px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}
nav ul.nav {
    margin: 0;
    padding: 12em;
}
nav, ul, li.toc {
    display: inline;
    list-style-type: none;
}

li.toc {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8%;
    padding-right: 8%;
}

/* link color */
a:link {
    text-decoration: none;
    color: #2d7330;
}

/* color of link when you hover over it */
a:hover {
    text-decoration: underline;
    color: white;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: gray;
}

/* box behind navigation bar and text grid */
section {
    text-align: justify;
    display: flex;
    justify-content: space-evenly;
    background-color: #9ad2f1;
    position: sticky;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-radius: 6px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
}


/* flex box */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width : 600px) {
    .column.side,
    .column.middle {
        width: 100%;
    }
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2b444b;
    padding: 10px;
}

.grid-item {
    background-color: #b2e1ff;
    border: 1px solid #303632;
    padding: 20px;
    font-size: 30px;
    font-family: "Noto Sans";
    text-align: center;
}
